.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clickable-element {
  cursor: pointer;
}

input {
  width: 100%; /* Ensure inputs take full width of the container */
  max-width: 300px; /* Set a max-width for the input fields */
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
